<h1><code ng:non-bindable="">shPartner</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shpartner-page"><p>The <code>shPartner</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_changeorderstate">ChangeOrderState(data)</h3>
<div class="changeorderstate"><div class="changeorderstate-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_changeorderstate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="changeorderstate-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_createorder">CreateOrder(data)</h3>
<div class="createorder"><div class="createorder-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_createorder_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="createorder-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getappspaceplans">GetAppspacePlans(data)</h3>
<div class="getappspaceplans"><div class="getappspaceplans-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_getappspaceplans_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getappspaceplans-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getsourcestats">GetSourceStats(data)</h3>
<div class="getsourcestats"><div class="getsourcestats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_getsourcestats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getsourcestats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_listorders">ListOrders(data)</h3>
<div class="listorders"><div class="listorders-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_listorders_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="listorders-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will allow you to remove the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stats">stats(data)</h3>
<div class="stats"><div class="stats-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_stats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="stats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
