<h1><code ng:non-bindable="">shClients</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shclients-page"><p>The <code>shClients</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_changelicensesamount">ChangeLicensesAmount(data)</h3>
<div class="changelicensesamount"><div class="changelicensesamount-page"><p>This function will allow you to ChangeLicensesAmount.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_changelicensesamount_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="changelicensesamount-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getclientsettings">GetClientSettings(data)</h3>
<div class="getclientsettings"><div class="getclientsettings-page"><p>This function will allow you to GetClientSettings the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getclientsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getclientsettings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinfotainmentstats">GetInfotainmentStats(data)</h3>
<div class="getinfotainmentstats"><div class="getinfotainmentstats-page"><p>This function will allow you to GetInfotainmentStats the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getinfotainmentstats_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getinfotainmentstats-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_saveclientsettings">SaveClientSettings(data)</h3>
<div class="saveclientsettings"><div class="saveclientsettings-page"><p>This function will allow you to SaveClientSettings the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_saveclientsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="saveclientsettings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateappspaceplan">UpdateAppspacePlan(data)</h3>
<div class="updateappspaceplan"><div class="updateappspaceplan-page"><p>This function will allow you to UpdateAppspacePlan.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_updateappspaceplan_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updateappspaceplan-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getaccountinfo">getAccountInfo(data)</h3>
<div class="getaccountinfo"><div class="getaccountinfo-page"><p>This function will allow you to getAccountInfo the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getaccountinfo_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getaccountinfo-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getaccountsettings">getAccountSettings(data)</h3>
<div class="getaccountsettings"><div class="getaccountsettings-page"><p>This function will allow you to getAccountSettings the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getaccountsettings_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getaccountsettings-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinvoiceurl">getInvoiceURL(data)</h3>
<div class="getinvoiceurl"><div class="getinvoiceurl-page"><p>This function will allow you to getInvoiceURL the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getinvoiceurl_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getinvoiceurl-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinvoiceurl">getInvoiceURL(data)</h3>
<div class="getinvoiceurl"><div class="getinvoiceurl-page"><p>This function will allow you to getInvoiceURL the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getinvoiceurl_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getinvoiceurl-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinvoiceurl">getInvoiceURL(data)</h3>
<div class="getinvoiceurl"><div class="getinvoiceurl-page"><p>This function will allow you to getInvoiceURL the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_getinvoiceurl_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getinvoiceurl-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_listdisplays">listDisplays(data)</h3>
<div class="listdisplays"><div class="listdisplays-page"><p>This function will allow you to listDisplays.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_listdisplays_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="listdisplays-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_listsubusers">listSubusers(data)</h3>
<div class="listsubusers"><div class="listsubusers-page"><p>This function will allow you to listSubusers.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_listsubusers_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="listsubusers-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_move">move(data)</h3>
<div class="move"><div class="move-page"><p>This function will allow you to move the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_move_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="move-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will allow you to remove the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removedisplay">removeDisplay(data)</h3>
<div class="removedisplay"><div class="removedisplay-page"><p>This function will allow you to removeDisplay.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_removedisplay_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="removedisplay-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_renamedisplay">renameDisplay(data)</h3>
<div class="renamedisplay"><div class="renamedisplay-page"><p>This function will allow you to renameDisplay.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_renamedisplay_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="renamedisplay-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_restore">restore(data)</h3>
<div class="restore"><div class="restore-page"><p>This function will allow you to restore the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_restore_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restore-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setdisplaystate">setDisplayState(data)</h3>
<div class="setdisplaystate"><div class="setdisplaystate-page"><p>This function will allow you to setDisplayState.</p>
<pre><code class="lang-js">
</code></pre>
</div><h5 id="methods_setdisplaystate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setdisplaystate-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Update
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/resetPassword
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/resetPassword
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(data)</h3>
<div class="update"><div class="update-page"><p>This function will update the user info.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/resetPassword
</code></pre>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateextrafeeds">updateExtraFeeds(data)</h3>
<div class="updateextrafeeds"><div class="updateextrafeeds-page"><p>This function will allow you to updateExtraFeeds the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_updateextrafeeds_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updateextrafeeds-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatelivehours">updateLiveHours(data)</h3>
<div class="updatelivehours"><div class="updatelivehours-page"><p>This function will allow you to updateLiveHours the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_updatelivehours_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatelivehours-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatetrial">updateTrial(data)</h3>
<div class="updatetrial"><div class="updatetrial-page"><p>This function will allow you to updateTrial the sub user.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/Remove
</code></pre>
</div><h5 id="methods_updatetrial_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatetrial-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
