<h1><code ng:non-bindable="">shDisplay</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shdisplay-page"><p>The <code>shDisplay</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/New
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/New
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_rename">rename(data)</h3>
<div class="rename"><div class="rename-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/New
</code></pre>
</div><h5 id="methods_rename_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="rename-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setstate">setState(data)</h3>
<div class="setstate"><div class="setstate-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Clients/New
</code></pre>
</div><h5 id="methods_setstate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setstate-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
