<h1><code ng:non-bindable="">shItems</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shitems-page"><p>The <code>shItems</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_approve">approve(data)</h3>
<div class="approve"><div class="approve-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/Approve
</code></pre>
</div><h5 id="methods_approve_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="approve-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_approve">approve(data)</h3>
<div class="approve"><div class="approve-page"><p>This function will approve a ugc request.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/Approve
</code></pre>
</div><h5 id="methods_approve_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="approve-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_rejected">rejected(data)</h3>
<div class="rejected"><div class="rejected-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/Rejected
</code></pre>
</div><h5 id="methods_rejected_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="rejected-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_restore">restore(data)</h3>
<div class="restore"><div class="restore-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/Restore
</code></pre>
</div><h5 id="methods_restore_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restore-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_setfeaturedstatus">setFeaturedStatus(data)</h3>
<div class="setfeaturedstatus"><div class="setfeaturedstatus-page"><p>This function will list all sub users.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/setFeaturedStatus
</code></pre>
</div><h5 id="methods_setfeaturedstatus_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setfeaturedstatus-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_ugccancelpost">ugcCancelPost(data)</h3>
<div class="ugccancelpost"><div class="ugccancelpost-page"><p>This cancels the UGC Request made.</p>
<p>UGCID - id of item</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/ugcCancelPost
</code></pre>
</div><h5 id="methods_ugccancelpost_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ugccancelpost-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_ugclist">ugcList(data)</h3>
<div class="ugclist"><div class="ugclist-page"><p>this function lists ugc entries for the user
Needs HubID</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/ugcList
</code></pre>
</div><h5 id="methods_ugclist_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ugclist-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_ugcpost">ugcPost(data)</h3>
<div class="ugcpost"><div class="ugcpost-page"><p>This function creates a UGC request in the database for List functions
needs NetworkID
ItemID
ConnectionID
HubID
PostURL
returns:
UGCID - item entry ID (attach this to item for future requests to cancel etc)</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Items/ugcPost
</code></pre>
</div><h5 id="methods_ugcpost_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ugcpost-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
