<h1><code ng:non-bindable="">shDomains</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shdomains-page"><p>The <code>shDomains</code> service provides a convenient wrapper for domain related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addusertodomain">addUserToDomain(data)</h3>
<div class="addusertodomain"><div class="addusertodomain-page"><p>This function will allow you to add a user to the specified domain.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Domains/AddUserToDomain
</code></pre>
</div><h5 id="methods_addusertodomain_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="addusertodomain-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you to create a domain. A domain is used for authenticating a sub user and for grouping. 
Domains are also global meaning that only one can exist system wide.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Domains/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all domains.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Domains/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will remove the domain.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Domains/Remove
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removeuserfromdomain">removeUserFromDomain(data)</h3>
<div class="removeuserfromdomain"><div class="removeuserfromdomain-page"><p>This function will allow you to remove the user for the specified domain.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Domains/RemoveUserFromDomain
</code></pre>
</div><h5 id="methods_removeuserfromdomain_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="removeuserfromdomain-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
