<h1><code ng:non-bindable="">shPlatformStats</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shplatformstats-page"><p>The <code>shPlatformStats</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_global">global(data)</h3>
<div class="global"><div class="global-page"><p>This function will allow you skipItem a sub user, you do need to skipItem a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Partner/New
</code></pre>
</div><h5 id="methods_global_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="global-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
