<h1><code ng:non-bindable="">shUGC</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shugc-page"><p>The <code>shUGC</code> service provides a convenient wrapper for subusers related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_check">check(data)</h3>
<div class="check"><div class="check-page"><p>This function will insert the current time as CheckTimestamp</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/UGC/Check
</code></pre>
</div><h5 id="methods_check_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="check-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_decline">decline(data)</h3>
<div class="decline"><div class="decline-page"><p>This function will decline a ugc request</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/UGC/Decline
</code></pre>
</div><h5 id="methods_decline_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="decline-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will list all ugc entries
use filters</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/UGC/List
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
