<h1><code ng:non-bindable="">shInfotainment</code>
<div><span class="hint">service in module <code ng:non-bindable="">sh.api</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sh-api-shinfotainment-page"><p>The <code>shInfotainment</code> service provides a convenient wrapper for infotainment related requests.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_currencies">Currencies(data)</h3>
<div class="currencies"><div class="currencies-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_currencies_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="currencies-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_currenciescombinationactive">CurrenciesCombinationActive(data)</h3>
<div class="currenciescombinationactive"><div class="currenciescombinationactive-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_currenciescombinationactive_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="currenciescombinationactive-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_datacallrequest">DatacallRequest(data)</h3>
<div class="datacallrequest"><div class="datacallrequest-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_datacallrequest_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="datacallrequest-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getstocks">GetStocks(data)</h3>
<div class="getstocks"><div class="getstocks-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_getstocks_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getstocks-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_aircheckrcountries">aircheckrCountries(data)</h3>
<div class="aircheckrcountries"><div class="aircheckrcountries-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_aircheckrcountries_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="aircheckrcountries-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_aircheckrlocations">aircheckrLocations(data)</h3>
<div class="aircheckrlocations"><div class="aircheckrlocations-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_aircheckrlocations_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="aircheckrlocations-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_approve">approve(data)</h3>
<div class="approve"><div class="approve-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_approve_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="approve-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_create">create(data)</h3>
<div class="create"><div class="create-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_create_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="create-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_feature">feature(data)</h3>
<div class="feature"><div class="feature-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_feature_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="feature-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getsources">getSources(data)</h3>
<div class="getsources"><div class="getsources-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_getsources_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getsources-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_list">list(data)</h3>
<div class="list"><div class="list-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_list_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="list-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_listitems">listItems(data)</h3>
<div class="listitems"><div class="listitems-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_listitems_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="listitems-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_reject">reject(data)</h3>
<div class="reject"><div class="reject-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_reject_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="reject-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_remove">remove(data)</h3>
<div class="remove"><div class="remove-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="remove-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_restore">restore(data)</h3>
<div class="restore"><div class="restore-page"><p>This function will allow you create a sub user, you do need to create a domain and group beforehand.</p>
<pre><code class="lang-js">https://api.open-display.io/webapi/core/Hub/New
</code></pre>
</div><h5 id="methods_restore_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restore-page"><p>data options object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
